<p id="notice"><%= notice %></p>

<h2><%= @image.title %></h2>

<div class="row">
  <div class="col-md-8"><p><%= image_tag @image.url %></p><p><%= @image.description %></p></div>
  <div class="col-md-4">
    <h3>Tags</h3><ul>
    <% @image.tag_list.each do |t| -%>
      <li><%= link_to t, controller: :tags, action: :tag, id: t %></li>
    <% end -%></ul>
  </div>
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
