<!DOCTYPE html>
<html>
<head>
  <title>Leodis!</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>

</body>
</html>
